@font-face {
  font-family: "ComicKids-WyvKG";
  src: url("../fonts/ComicKids-WyvKG.otf");
}
body {
  background: radial-gradient(#712424, #2c337b);
}
/* FIJAMOS el ancho y la posición de la escena y de los mensajes */
.escena, .mensaje {
  width: 480px;
  margin: auto;
}
/* La escena tendrá como fondo la mansión, ¡¡ sólo al cargar la página !! */
.escena {
  height: 784px;
  margin: auto;
  background-image: url("../img/Casa.png");
  background-size:cover;
  position: relative;
}
.mensaje {
  font-family: "ComicKids-WyvKG";
  background-color: white;
  padding: 3px;
}

.mensaje p {
  margin-left: 10px;
}

.puerta {
  width: 39px;
  height: 63px;
  background-color: transparent;
  position: absolute;
  left:240px;
  top: 339px;
  border-radius: 5px 5px 0px 0px;
}

.acertijos{
  font-family: "ComicKids-WyvKG";
  background-color: lightcoral;
  padding: 3px;
  position: absolute;
  display: none;
  top: 539px;
}

#divincorrecto{
  margin: auto;
  width: 480px;
}

.derecha {
  display: none;
  width: 58px;
  height: 403px;
  background-color: transparent;
  position: absolute;
  left:420px;
  top: 139px;
}

.izquierda {
  width: 79px;
  height: 412px;
  background-color: transparent;
  position: absolute;
  left:20px;
  top: 129px;
}
.derechaBlock {
  width: 58px;
  height: 403px;
  background-color: transparent;
  position: absolute;
  left:420px;
  top: 139px;
}

.izquierdaBlock {
  display: none;
  width: 79px;
  height: 412px;
  background-color: transparent;
  position: absolute;
  left:20px;
  top: 129px;
}

.cajamusica {
  display: none; /* Inicialmente no se verá la caja de música */
  width: 20px;
  height: 38px;
  background-image: url("../img/cajamusica.png");
  background-size: cover;
  position: absolute;
  left:435px;
  top: 462px;
}

.codigo {
  display: none; /* Inicialmente no se verá el cádigo*/
  width: 380px;
  height: 300px;
  background-image: url("../img/codigo.png");
  background-size: cover;
  position: absolute;
  top: 200px;
  left: 50px;
}

.codigoP{
  font-family: "ComicKids-WyvKG";
  background-color: lightcoral;
  padding: 3px;
  position: absolute;
  display: none;
  top: 539px;
}

#divincorrecto2{
  margin: auto;
  width: 480px;
}

.llave {
  display: none; /* Inicialmente no se verá la llave */
  width: 18px;
  height: 7px;
  background-image: url("../img/llave.png");
  background-size: cover;
  position: absolute;
  left:43px;
  top: 404px;
}

.candado {
  display: none; /* Inicialmente no se verá el candado */
  width: 28px;
  height: 44px;
  background-image: url("../img/candado.png"); 
  position: absolute;
  left:244px;
  top: 290px;
}

.interruptorA {
  display: none; /* Inicialmente no se verá el interruptor */
  width: 28px;
  height: 34px;
  position: absolute;
  background-size: cover;
  left:43px;
  top: 404px;
}

.interruptorB {
  display: none; /* Inicialmente no se verá el interruptor */
  width: 28px;
  height: 34px;
  position: absolute;
  background-size: cover;
  left:43px;
  top: 404px;
}

.cajaFuerteA{
  display: none; /* Inicialmente no se verá la llave */
  width: 70px;
  height: 70px;
  background-image: url("../img/cajafuerteA.png");
  background-size: cover;
  position: absolute;
  left:210px;
  top: 620px;
}
.cajaFuerteB{
  display: none; /* Inicialmente no se verá la llave */
  width: 70px;
  height: 70px;
  background-image: url("../img/cajafuerteB.png");
  background-size: cover;
  position: absolute;
  left:210px;
  top: 620px;
}

.matematico{
  font-family: "ComicKids-WyvKG";
  background-color: lightcoral;
  padding: 3px;
  position: absolute;
  display: none;
  top: 239px;
}

#divincorrecto3{
  margin: auto;
  width: 480px;
}

.final{
  width: 480px;
  height: 784px;
  font-family: "ComicKids-WyvKG";
  text-align: center;
  background-color: black;
  position: absolute;
  display: none;
}
